
.boxHelper
{
	background-color: #000;
	color:#fff;
	text-align:center;
	font-family: 'Pacifico', cursive;
	font-family: 'Roboto', sans-serif;
}

.container{
	overflow: hidden;
}

/*donate SCROLLER START*/
.donateCon{
	background-color: #3b846e;
	height: 100px;
	width: 50px;
	position: fixed;
	margin-top: 25%;
	animation: slide .8s 1;
	animation-delay: .7s;
	z-index: 99;
}
.donateTab{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	transform: rotate(-90deg);
	color: #fff;
	font-size: 1em;
	margin-top:42px;
	z-index: 99;
}
.flipOut{
	position: fixed;
	margin-top: 25%;
	background-color: #3b846e;
	width: 500px;
	color: #fff;
	z-index: 99;	
}
.flipOut button{
	color: #fff;
	font-weight: bold;
}
.flipOut img{
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
}

/*donate SCROLLER END*/




/*BOOK SCROLLER START*/
.bookNowTab{
	float: left;
	z-index: 99;
}
.bookNowCon{
	background-color: #be2135;
	height: 90px;
	width: 50px;
	position: fixed;
	margin-top: 45%;
	animation: slide .8s 1;
	animation-delay: .5s;
	z-index: 99;
}
.scrollerText{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	transform: rotate(-90deg);
	color: #fff;
	font-size: 1em;
	/*padding-right: 1em;*/
	padding-top: 1.75em;
	margin-left: -25px;
}

.foldOut{
	position: fixed;
	margin-top: 45%;
	width: 600px;
	z-index: 99;	
}
.foldOut button{
	color: #fff;
	font-weight: bold;
	z-index: 99;
}
.foldoutCal{
	margin-left: 100px;
	margin-top: 25px;
}
@keyframes slide{
	0%{
		transform: translate3d(-150px,0px,0px);
	}

	100%{
		transform: translate3d(0px,0px,0px);

	}
}
.callendar{
	margin-top: 10px;
}
.eventsTab{

	height: 170px;
	background-color: #808080;
	position: absolute;
}
.eventsTab img{
	position: absolute;
	width: 40%;
	margin-top: 45%;
	margin-left: -25px;
/*	width: 20px;
	height: 20px;*/
}
.eventsTab h4{
	text-align: left;
	margin-left: 0;
	margin-top: 5px;
	font-size: 1.2em;
}
.eventsTab p{
	text-align: left;
	color: #fff;
	margin-top: 10px;
	font-size: .81em;
}
.callendarTab{
	height: 170px;
	background-color: #b3b3b3;
	position: absolute;
}
.callendarTab h4{
	margin-top: 5px;
	color: #808080;
}
.callendarTab img{
	/*margin-top: 20px;*/
}
.dateTab{
	height: 170px;
	background-color: #e6e6e6;
	position: absolute;
	margin-top: 164px; 
}
.date{
	font-weight: bold;
	margin-top: -20px;
	color: #808080;
	font-size: 7em;
}
.month{
	margin-top: -70px;
	color: #808080;
	font-weight: bold;
	float: right;
	font-size: 1.2em;
}
.scheduleTab{
	height: 170px;
	background-color: #f2f2f2;
	float: right;
	margin-top: 164px;
}
.scheduleTab h4{
	text-align: left;
	margin-top: 5px;
	color: #000;
}
.scheduleTab p{
	text-align: left;
	font-size: .81em;
	line-height: 2em;
	margin-top: 15px
}
.scheduleTab p a{
	float: right;
	background-color: #be2135;
	color: #fff;
	padding-left: 3px;
	padding-right: 3px; 
	margin-top: 55px;
}
.schedDesc{
	color: #fff;
}

/*BOOK SCROLLER END*/









/*STATIC HEADER START*/
.staticHeader{
	background-image: url("../img/chantry_header.svg");
	/*background-size: cover;*/
	background-size: 100%;
	background-repeat: no-repeat;
}
.logo{
	margin-left: 5px;
	margin-top: 5px;
	position: absolute;
}

.headerContact{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	display: inline;
	margin: 0 auto;
	margin-left: 3%;
	margin-top: 5px;
}
a{
	color:#000;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}
.hamburger{
	margin-top: 5px;
	padding-left: 15px;
	padding-right: 15px;

}
h1{
	font-family: 'Playfair Display', Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 2em;
 	text-align: center;
	font-variant-caps: all-petite-caps;
}

h2{
	font-family: 'Playfair Display', Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 2em;
	padding-top: 45%;
 	text-align: center;
	font-variant-caps: all-petite-caps;
}

.headerButCon{
	display: block;
	text-align: center;
	margin-top:180px;
	margin-bottom: 100px;
}
.headerBut{
	background-color: #be2135;
	margin-top: 180px;
	margin-bottom: 100px; 
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	color: #fff;
}

.headerBut:hover
{
	background-color: #780313;
	color: #fff;
}

button a{
	color:#fff;
	text-align: center;
}


@media only screen and (min-width: 640px) {
    .headerContact{
    	text-align: right;
    }
    h2
    {
        font-size: 3rem;
        padding-top: 35%;
    }
    .medUpMainNav
    {
		height: 50px;
		text-align: center;
		margin-top: 40%;
		margin-bottom: 15%;
		margin-right: 25px;
		font-family: 'Roboto', arial;

	}
	.medUpMainNav ul li
	{
		display: inline;
	}

	.medUpMainNav ul li a
	{
		padding: 5px;
		color: #fff;
	}
	
	.medUpMainNav ul li a:hover
	{
		color: #A1A1A1;
	}
	
	.border
	{
		color: #fff;
	}


	.footerNav ul li a:hover
	{
		padding: 5px;
		color: #373737;
	}
}
@media only screen and (min-width: 1440px){
	.logo{
	margin-left: 60px;
	}
}
/*STATIC HEADER END*/







/*HAMBURGER START*/
.hamburger{
	margin-top: 5px;
	float: right;
	margin-right: 3%;
}
#menu{
	position: absolute;
	width: 100%;
	margin-top: 47px;
	background: rgba(155,194,158,1);
}
#mainNav
{
    margin: 0;
    list-style-type: none;
    text-align: center;
}


#mainNav li a
{
    font-size: 1em;
    line-height: 3em;
}

/*HABURGER END*/







/*MHS START*/
.MHS{
	text-align: center
}
h3{
	font-family: 'Pacifico', cursive;
	font-size: 1.5em;
	margin-top: 20px;
	text-align: center;
}
p{
	font-family: 'Roboto', sans-serif;
	margin-top: 15px;
	margin-bottom: 40px;
	text-align: center;
}

@media only screen and (min-width: 640px) {
	h3{
		font-size: 2em;
	}
}
/*MHS END*/









/*Decorative Nautical Pictures START*/
.decoImg img{
	padding-left: 12px;
	padding-right: 12px;
	margin-bottom: 30px;
}
/*Decorative Nautical Pictures END*/









/*TOURS START*/
.tourBut{
	text-align: center;
	color: #be2135;
	font-weight: bold;
}
.tourBut:hover{
	color: #3d9278;
}
 .bluText{
	color: #3d9278 !important;
	font-weight: bold;

}
.price{
	text-align: center;
	color: #3d9278;
	font-weight: bold;
}
.gCalendar{

}

/*TOURS END*/








/*OUR HISTORY START*/


.histVid{
	padding-bottom: 50px;
}






@media only screen and (min-width: 640px) {
	
	.history{
		background-image: url(../img/woodBG.png);
		background-size: cover;
		margin-bottom: 30px;
	}

}


/*OUR HISTORY END*/











/*BE SURE START*/
.beSure div{
	margin-top: 30px;
}
.boots{
	margin-top: 30px;
}
.camera{
	margin-top: 50px;
}
.noFlops{
	text-align: center;
	color: #3d9278;
	font-weight: bold;
	margin-top: 50px;
	padding-left:10%;
	padding-right: 10%;
}
@media only screen and (min-width: 421px){
	.camera{
		margin-right: 50%;
	}
	.jacket{
		margin-top: -50%;
	}
	
}
@media only screen and (min-width: 640px){
	.camera{
		margin-right: 0;
		margin-top: 20px;
	}
	.jacket{
		margin-top: -3%;
	}

}

/*BE SURE END*/









/*SCHEDULE START*/
.schedule{
	max-width: 740px;
	display: block;
	margin: 0 auto;

}
.upcomming{
	background-color: #808080;
	height: 200px;
}
.upcomming img{
	width: 50%;
	margin-top: -40%;
	margin-left: 5px;
	float: right;
}
.upcomming h4{
	text-align: left;
	margin-left: 0;
	margin-top: 5px;
	font-size: 1.2em;
	color: #fff;
}
.upcomming p{
	text-align: left;
	color: #fff;
	margin-top: 10px;
	font-size: .81em;
}
.calendar{
	background-color: #b3b3b3;
	height: 200px;
}
.calendar h4{
	margin-top: 5px;
	color: #808080;
}

.dateBox{
	background-color: #e6e6e6;
	height: 200px;
}
.scheduleBox{
	background-color: #f2f2f2;
	height: 200px;
}
.scheduleBox h4{
	text-align: left;
	margin-top: 5px;
	color: #000;
}
.scheduleBox p{
	text-align: left;
	font-size: .81em;
	line-height: 2em;
	margin-top: 15px
}
.scheduleBox p a{
	float: right;
	background-color: #be2135;
	color: #fff;
	padding-left: 3px;
	padding-right: 3px; 
	margin-top: 55px;
}



@media only screen and (min-width: 500px){
	.calendar img{
		max-width: 225px;
		display: block;
		margin: 0 auto;
	}
	.upcomming img{
		margin-top: -20%;
	}
}
/*SCHEDULE END*/



/*CONTACT START*/
.mapCon{
	height: 500px;
/*	width: 50%;*/
	background-color: blue;
}

.preloadCon {
	height: 500px;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.85);
	z-index: 50;
	left: 0;
	right: 0;
	display: block;
	transition: opacity 0.7s ease;

}
.preloadCon i{
	margin-top: 40%;
	margin-left: 42%;

	animation-name: rotate; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
.directions{
	margin-bottom: 10px;
}
.address{
	margin-bottom: 10px;
	display: block;
	margin: 0 auto;
	width: 300px;
}
.directionsBut{
	display: block;
	margin: 0 auto;
}







.sendBut{
	background-color: #be2135;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	color: #fff;
}
.formStyle{
	border-color:#3b846e;
}
::-webkit-input-placeholder { 
  color: #000 !important;
}
::-moz-placeholder { 
  color: #000 !important;
}
:-ms-input-placeholder { 
  color: #000 !important;
}
:-moz-placeholder {
  color: #000 !important;
}

/*CONTACT END*/







/*PHOTO GALLERY START*/
/*.gallery, h3{
	margin-top: 150px;
}*/
.arrow{
	position: absolute;
	margin-top: 20%;
}
.arrowLeft{
	margin-left: 12%;
}

.arrowRight{
	margin-left: 85%
}

.lbClose{
	float: right;
	padding-right: 10px;
	padding-top: 5px;
}

.fullImg{
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 5%
}

.imgDesc{
	position: absolute;
}

.lbOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: rgba(0, 0, 0, 0.6);
}
.thumbButton{
	padding: 0;
	filter: grayscale(100%);
}
.gallery{
	padding-left: 10%;
	padding-right: 10%;
}





/*PHOTO GALLERY END*/










/*VOLUNTEERS START*/
.volunteers{
	display: block;
	margin: 0 auto;
}
.volunteers ul{
	list-style-type: none;
	text-align: center;
}
.aboutVolunteers img{
	display: block;
	margin: 0 auto;
}

#volIcon{
	margin-bottom: 2em;
}
.volHeading{
	
}
.volCopy{
	margin-bottom: 0;
}

/*@media only screen and (min-width: 1024px){
	.aboutVolunteers img{
		margin-top: 130px;
	}
	
}*/
/*VOLUNTEERS END*/



/*FOOTER START*/

.footerButCon{
	display: block;
	text-align: center;
	margin-top: 2em;
}
.footerBut{
	background-color: #be2135; 
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

.footerBut:hover
{
	background-color: #780313;
	color: #fff;
}

.socialMedia{
	margin-top: 1em;
	/*display: inline-block;*/
}
.smIcon{
	/*margin-left: 1px;*/
}

.footerNav{
	height: 50px;
	text-align: center;
	margin-top: 30px;
	display: inline-block;
}
.footerNav ul{
	margin: 0;
}
.footerNav ul li{
	display: inline;
}

.footerNav ul li a
{
	padding: 5px;
	
}


.footerNav ul li a:hover
{
	color: #333333;
	padding: 5px;
}
.footerLogo{
	display: inline;
	width: 119px;
	margin: auto;
}


}
.footerImg{
	position: absolute;
	margin-top: -100px;
}





@media only screen and (min-width: 640px) {
	.footer{
		background-image: url("../img/footer.svg");
		background-size: 100%;
		background-repeat: no-repeat;
		z-index: -100;
	}
	.footerNav{
		padding-bottom: 42%
	}
	
	/*.footerLogo{
		margin-top: 5%;
		margin-bottom: 10%;
	}*/
}
@media only screen and (min-width: 940px){
	/*.footerLogo{
		margin-bottom: 10%;
		margin-top: 3%;
	}*/
}
@media only screen and (min-width: 1200px){
	
}
/*FOOTER END*/



/*ADMIN START*/
.adminHeading{
	padding-top: 20px;
}
.adminLogForm{
	margin-top: 20px;
	margin-bottom: 100px;
}
.adminFiled{
	width: 50%;
	margin:0 auto;
	margin-bottom: 15px;
}

.adminBut{
	margin-left: 2px;
	margin-right: 2px;
	color: #be2135;
	padding: 0;
}
.adminBut:hover{
	color: #9bc29e;

}
.adminP{
	margin-bottom: 10px;
}

.adminPgBtn{
	background-color: #be2135;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.levelList{
	display: inherit;
}

.editArea{
	resize: none;
	height: 150px;
	text-align: center;
}
.addPhotoBut{
	background-color: #be2135;
	padding-top: 2%;
	padding-bottom: 2%;
	color: #fff;
	margin-top: 15px;
	text-align: center;
}
.adminInput{
	display: inline;
	width: auto;
}

.adminHeading{
	margin-top: 10px;
}

/*ADMIN END*/




























